Flows/write_read_storage/flows.json
[{"id":"d9ef75ead5ecf59d","type":"tab","label":"Write/read data to/from storage","disabled":false,"info":"","env":[]},{"id":"a2e32bd6b69ba322","type":"file","z":"d9ef75ead5ecf59d","name":"","filename":"testDir/testFile.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":770,"y":180,"wires":[[]]},{"id":"a2a5d52142a841df","type":"file in","z":"d9ef75ead5ecf59d","name":"","filename":"testDir/testFile.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":770,"y":320,"wires":[["9dd291494e872555"]]},{"id":"d221a569f576328c","type":"inject","z":"d9ef75ead5ecf59d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["9255b3481ed7885d"]]},{"id":"9dd291494e872555","type":"debug","z":"d9ef75ead5ecf59d","name":"Print file to debug console","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"d7516ffe7e8e6599","type":"inject","z":"d9ef75ead5ecf59d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":320,"wires":[["a2a5d52142a841df"]]},{"id":"9255b3481ed7885d","type":"function","z":"d9ef75ead5ecf59d","name":"Make (timestamp, value) pair","func":"const temperature = 15.0 + Math.random()*10.0;\nconst timestamp = msg.payload;\nmsg.payload = `${timestamp},${temperature}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["a2e32bd6b69ba322"]]},{"id":"d74e965b1d2ac7bc","type":"comment","z":"d9ef75ead5ecf59d","name":"Save data to storage","info":"","x":130,"y":140,"wires":[]},{"id":"578fa327125c415f","type":"comment","z":"d9ef75ead5ecf59d","name":"Read data from storage","info":"","x":140,"y":280,"wires":[]},{"id":"6ab94e37ac1bbc10","type":"comment","z":"d9ef75ead5ecf59d","name":"Set payload to csv data format","info":"","x":380,"y":140,"wires":[]},{"id":"a35dd82eda53e15a","type":"comment","z":"d9ef75ead5ecf59d","name":"Generate sample data pair (timestamp, temperature)","info":"","x":450,"y":100,"wires":[]},{"id":"2b95d2e81dd28351","type":"comment","z":"d9ef75ead5ecf59d","name":"Set relative file path (filename)","info":"","x":800,"y":60,"wires":[]},{"id":"2b26011c6ed2452f","type":"comment","z":"d9ef75ead5ecf59d","name":"Can be either file.* or dirs/file.*","info":"","x":800,"y":100,"wires":[]},{"id":"fc3af11c39eaacdd","type":"comment","z":"d9ef75ead5ecf59d","name":"Choose encoding and whether the file should be appended or overwritten","info":"","x":940,"y":140,"wires":[]},{"id":"fd62352dd6ea59af","type":"file","z":"d9ef75ead5ecf59d","name":"","filename":"testDir/testFile.csv","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":790,"y":460,"wires":[[]]},{"id":"f474a6e4a1800dbb","type":"inject","z":"d9ef75ead5ecf59d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":460,"wires":[["fd62352dd6ea59af"]]},{"id":"6a3cd8adf5d7c288","type":"comment","z":"d9ef75ead5ecf59d","name":"Delete file","info":"","x":140,"y":420,"wires":[]},{"id":"6026302b3b262ecb","type":"comment","z":"d9ef75ead5ecf59d","name":"You can copy the file content from debug console using the 'Copy value' button","info":"","x":1230,"y":280,"wires":[]}]