Flows/write_read_storage/flows.json
[{"id":"7fdbd36167e42b91","type":"tab","label":"Write/read data to/from storage","disabled":false,"info":"","env":[]},{"id":"d33911173e5d67df","type":"file","z":"7fdbd36167e42b91","name":"","filename":"testDir/testFile.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":770,"y":180,"wires":[[]]},{"id":"273f655cee6ca7c2","type":"file in","z":"7fdbd36167e42b91","name":"","filename":"testDir/testFile.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":520,"wires":[["a14e729e7abffea7"]]},{"id":"ecd94294af4dd146","type":"inject","z":"7fdbd36167e42b91","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["d72d65c6567d6581"]]},{"id":"a14e729e7abffea7","type":"debug","z":"7fdbd36167e42b91","name":"Print file to debug console","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":520,"wires":[]},{"id":"db5290e501f16957","type":"inject","z":"7fdbd36167e42b91","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":520,"wires":[["273f655cee6ca7c2"]]},{"id":"d72d65c6567d6581","type":"function","z":"7fdbd36167e42b91","name":"Make (timestamp, value) pair","func":"const temperature = 15.0 + Math.random()*10.0;\nconst timestamp = msg.payload;\nmsg.payload = `${timestamp},${temperature}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["d33911173e5d67df"]]},{"id":"911ec4f2be61a539","type":"comment","z":"7fdbd36167e42b91","name":"Save data to storage","info":"","x":130,"y":140,"wires":[]},{"id":"1dd169436dc2d66d","type":"comment","z":"7fdbd36167e42b91","name":"Read data from storage","info":"","x":140,"y":480,"wires":[]},{"id":"8eae0174cc8c17fc","type":"comment","z":"7fdbd36167e42b91","name":"Set payload to csv data format","info":"","x":380,"y":140,"wires":[]},{"id":"0db30eb544e3b55d","type":"comment","z":"7fdbd36167e42b91","name":"Generate sample data pair (timestamp, temperature)","info":"","x":450,"y":100,"wires":[]},{"id":"50323895d54db090","type":"comment","z":"7fdbd36167e42b91","name":"Set relative file path (filename)","info":"","x":800,"y":60,"wires":[]},{"id":"be9226a5ab66ccde","type":"comment","z":"7fdbd36167e42b91","name":"Can be either file.* or dirs/file.*","info":"","x":800,"y":100,"wires":[]},{"id":"abbc871a4e31c561","type":"comment","z":"7fdbd36167e42b91","name":"Choose encoding and whether the file should be appended or overwritten","info":"","x":940,"y":140,"wires":[]},{"id":"4992e4d70659cbe2","type":"file","z":"7fdbd36167e42b91","name":"","filename":"testDir/testFile.csv","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":510,"y":700,"wires":[[]]},{"id":"7bef0419bb311d60","type":"inject","z":"7fdbd36167e42b91","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":700,"wires":[["4992e4d70659cbe2"]]},{"id":"09abdddff07308fc","type":"comment","z":"7fdbd36167e42b91","name":"Delete file","info":"","x":140,"y":660,"wires":[]},{"id":"44ee4b86d6ae0569","type":"comment","z":"7fdbd36167e42b91","name":"You can copy the file content from debug console using the 'Copy value' button","info":"","x":950,"y":480,"wires":[]},{"id":"d9c0669aee3ec1d5","type":"ui_template","z":"7fdbd36167e42b91","group":"c33a1024a72aa169","name":"Upload Btn","order":8,"width":"0","height":"0","format":"<body>\n  <p>Upload a file to your private directory.</p>\n  <p>The file will persist even if you restart your Node-RED instance.</p>\n  <p>Filepath is optional. File name will be used if not specified.</p>\n  <br>\n  <input type=\"file\" id=\"fileUpload\">\n  <br>\n  <label for=\"fileName\">Relative filepath (optional)</label>\n  <input type=\"text\" id=\"fileName\" placeholder=\"e.g. 'myDir/file.png'    './ ../ /' not allowed\">\n  <br>\n  <button class=\"\" onclick=\"importData()\">Upload</button>\n\n  <script>\n    let restoreScope = scope;\n    let inputFile = document.getElementById(\"fileUpload\");\n    let inputFilename = document.getElementById(\"fileName\");\n\n    function importData() {\n      // you can use this method to get file and perform respective operations\n      let fReader = new FileReader();\n      fReader.readAsText(inputFile.files[0]);\n      fReader.onloadend = function(event){\n      restoreScope.send(\n        {\n          payload:event.target.result,\n          filename: inputFilename.value || inputFile.files[0].name\n        }\n      );\n    }\n  //input.click();\n}\n  </script>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":130,"y":340,"wires":[["009597cbc792721b"]]},{"id":"f25753fdc4cbacac","type":"comment","z":"7fdbd36167e42b91","name":"Upload files from your PC","info":"","x":150,"y":260,"wires":[]},{"id":"009597cbc792721b","type":"file","z":"7fdbd36167e42b91","name":"Save uploaded file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":770,"y":340,"wires":[[]]},{"id":"2f0d73407a1c0798","type":"comment","z":"7fdbd36167e42b91","name":"(optional) Set relative file path (filename)","info":"","x":840,"y":300,"wires":[]},{"id":"56dc1fef97e7602d","type":"comment","z":"7fdbd36167e42b91","name":"Open the dashboard -> Home tab","info":"","x":170,"y":300,"wires":[]},{"id":"c33a1024a72aa169","type":"ui_group","name":"File uploader","tab":"cc6c4310cf7b61cc","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cc6c4310cf7b61cc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]