Flows/write_read_storage/flows.json
[{"id":"e723e224f578720c","type":"tab","label":"Write/read data to/from storage","disabled":false,"info":"","env":[]},{"id":"4f0603f030b86bf6","type":"file","z":"e723e224f578720c","name":"","filename":"testDir/testFile.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":770,"y":180,"wires":[[]]},{"id":"f7a65712eca7f716","type":"file in","z":"e723e224f578720c","name":"","filename":"testDir/testFile.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":520,"wires":[["3835c8846a4a650f"]]},{"id":"3a65ddc18ac71783","type":"inject","z":"e723e224f578720c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["3654d1bdbc3fefe3"]]},{"id":"3835c8846a4a650f","type":"debug","z":"e723e224f578720c","name":"Print file to debug console","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":520,"wires":[]},{"id":"e56d3897f8ec599b","type":"inject","z":"e723e224f578720c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":520,"wires":[["f7a65712eca7f716"]]},{"id":"3654d1bdbc3fefe3","type":"function","z":"e723e224f578720c","name":"Make (timestamp, value) pair","func":"const temperature = 15.0 + Math.random()*10.0;\nconst timestamp = msg.payload;\nmsg.payload = `${timestamp},${temperature}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["4f0603f030b86bf6"]]},{"id":"04e169b632a0a8ca","type":"comment","z":"e723e224f578720c","name":"Save data to storage","info":"","x":130,"y":140,"wires":[]},{"id":"b0f764a1a7574d76","type":"comment","z":"e723e224f578720c","name":"Read data from storage","info":"","x":140,"y":480,"wires":[]},{"id":"08b6a008c6c8a1bc","type":"comment","z":"e723e224f578720c","name":"Set payload to csv data format","info":"","x":380,"y":140,"wires":[]},{"id":"b0ccb03bccd9c16f","type":"comment","z":"e723e224f578720c","name":"Generate sample data pair (timestamp, temperature)","info":"","x":450,"y":100,"wires":[]},{"id":"9a36a86aae4b4112","type":"comment","z":"e723e224f578720c","name":"Set relative file path (filename)","info":"","x":800,"y":60,"wires":[]},{"id":"e6514b3bc6880674","type":"comment","z":"e723e224f578720c","name":"Can be either file.* or dirs/file.*","info":"","x":800,"y":100,"wires":[]},{"id":"5cd4b34ec77d38fb","type":"comment","z":"e723e224f578720c","name":"Choose encoding and whether the file should be appended or overwritten","info":"","x":940,"y":140,"wires":[]},{"id":"e00ae7dfce979c07","type":"file","z":"e723e224f578720c","name":"","filename":"testDir/testFile.csv","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":510,"y":700,"wires":[[]]},{"id":"d38f4758ccd358a1","type":"inject","z":"e723e224f578720c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":700,"wires":[["e00ae7dfce979c07"]]},{"id":"754736a3d7803224","type":"comment","z":"e723e224f578720c","name":"Delete file","info":"","x":140,"y":660,"wires":[]},{"id":"9d5b34e7301298c8","type":"comment","z":"e723e224f578720c","name":"You can copy the file content from debug console using the 'Copy value' button","info":"","x":950,"y":480,"wires":[]},{"id":"4c69015a995c86b4","type":"ui_template","z":"e723e224f578720c","group":"c33a1024a72aa169","name":"Upload Btn","order":8,"width":"0","height":"0","format":"<body>\n  <p>Upload a file to your private directory.</p>\n  <p>The file will persist even if you restart your Node-RED instance.</p>\n  <p>Filepath is optional. File name will be used if not specified.</p>\n  <br>\n  <input type=\"file\" id=\"fileUpload\">\n  <br>\n  <label for=\"fileName\">Relative filepath (optional)</label>\n  <input type=\"text\" id=\"fileName\" placeholder=\"e.g. 'myDir/file.png'    './ ../ /' not allowed\">\n  <br>\n  <button class=\"\" onclick=\"importData()\">Upload</button>\n  <p id=\"feedback\"></p>\n\n  <script>\n    let restoreScope = scope;\n    function importData() {\n      let inputFile = document.getElementById(\"fileUpload\");\n      let inputFilename = document.getElementById(\"fileName\");\n      // you can use this method to get file and perform respective operations\n      let fReader = new FileReader();\n      fReader.readAsText(inputFile.files[0]);\n      fReader.onloadend = function(event){\n      restoreScope.send(\n        {\n          payload:event.target.result,\n          filename: inputFilename.value || inputFile.files[0].name\n        }\n      );\n      document.getElementById(\"feedback\").innerHTML = (inputFilename.value || inputFile.files[0].name) +\" uploaded successfully.\";\n    }\n  //input.click();\n}\n  </script>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":130,"y":340,"wires":[["ecbd5498e8fb78e2"]]},{"id":"f4daabf66af49614","type":"comment","z":"e723e224f578720c","name":"Upload files from your PC","info":"","x":150,"y":260,"wires":[]},{"id":"ecbd5498e8fb78e2","type":"file","z":"e723e224f578720c","name":"Save uploaded file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":770,"y":340,"wires":[[]]},{"id":"3feb9f156eb4b098","type":"comment","z":"e723e224f578720c","name":"(optional) Set relative file path (filename)","info":"","x":840,"y":300,"wires":[]},{"id":"e769cfb994a36610","type":"comment","z":"e723e224f578720c","name":"Open the dashboard -> File uploader","info":"","x":180,"y":300,"wires":[]},{"id":"c33a1024a72aa169","type":"ui_group","name":"File uploader","tab":"d8c63f6fbf73e6e4","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d8c63f6fbf73e6e4","type":"ui_tab","name":"File uploader","icon":"dashboard","disabled":false,"hidden":false}]