Flows/context_storage/flows.json
[{"id":"ae72277bbd8d995d","type":"tab","label":"WORKING WITH CONTEXT","disabled":false,"info":"","env":[]},{"id":"dadd58c464f353e1","type":"group","z":"ae72277bbd8d995d","name":"Fetch/generate/enrich/modify data","style":{"label":true,"stroke":"#000000","fill":"#ffefbf"},"nodes":["64feed2fa56dcf63","9d4517ff7b7010a0","3b49edd3877199ac","363202e2106a276f","faee903e13d327c0"],"x":34,"y":719,"w":892,"h":122},{"id":"9235a7a8801e9696","type":"group","z":"ae72277bbd8d995d","name":"Using FLOW context","style":{"fill":"#dbcbe7","label":true,"color":"#000000"},"nodes":["db8fd1e20ee52b24","6e21d886a97a4625","c07a45cbbbdb62bb","335d60c7c1aea51f","397d51d444fc08b7","69aae63260ff97a5","c09c41279fe74862","0920f82915a3868a","bacf7bfcddd49f32","d961c48a18401676","ee1eac41603fc41d","c8481942595c38db","2d1205316262f37e"],"x":34,"y":39,"w":1152,"h":382},{"id":"0b7db66b7b63fe69","type":"group","z":"ae72277bbd8d995d","name":"Using GLOBAL context","style":{"fill":"#ffbfbf","label":true,"color":"#000000"},"nodes":["55bea6d504757dd2","d4a2db6fe2881a78","50ebfe351138d2a0","a36d9f42db573037","b5c30a1fd27d53e3","9607172243554002","89758d3356fb6ffa","98d3a4e55ee2196c","8d1f271155bddc83","e3f113aeb7e58aa5"],"x":34,"y":439,"w":1172,"h":262},{"id":"64feed2fa56dcf63","type":"link in","z":"ae72277bbd8d995d","g":"dadd58c464f353e1","name":"Getting data","links":[],"x":75,"y":800,"wires":[["3b49edd3877199ac"]]},{"id":"9d4517ff7b7010a0","type":"link out","z":"ae72277bbd8d995d","g":"dadd58c464f353e1","name":"link out 1","mode":"return","links":[],"x":885,"y":800,"wires":[]},{"id":"3b49edd3877199ac","type":"function","z":"ae72277bbd8d995d","g":"dadd58c464f353e1","name":"Generate random temperature data","func":"const tempInside = Math.random() * 10 + 20;\nconst tempOutside = Math.random() * 20 + 10;\nconst timestamp = Date.now();\nmsg.payload = {\n    data: {\n        indoorTemp: tempInside,\n        outdoorTemp: tempOutside\n    },\n    timestamp\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":800,"wires":[["9d4517ff7b7010a0"]]},{"id":"363202e2106a276f","type":"comment","z":"ae72277bbd8d995d","g":"dadd58c464f353e1","name":"Fetch data from LiveObjects or generate it here","info":"","x":240,"y":760,"wires":[]},{"id":"faee903e13d327c0","type":"comment","z":"ae72277bbd8d995d","g":"dadd58c464f353e1","name":"You can enrich or modify your data using e.g. function node","info":"","x":650,"y":760,"wires":[]},{"id":"db8fd1e20ee52b24","type":"inject","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["397d51d444fc08b7"]]},{"id":"6e21d886a97a4625","type":"inject","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["69aae63260ff97a5"]]},{"id":"c07a45cbbbdb62bb","type":"debug","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":240,"wires":[]},{"id":"55bea6d504757dd2","type":"debug","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":600,"wires":[]},{"id":"335d60c7c1aea51f","type":"inject","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["c09c41279fe74862"]]},{"id":"397d51d444fc08b7","type":"link call","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"Using the link \"Getting data\". See below","links":["64feed2fa56dcf63"],"linkType":"static","timeout":"30","x":400,"y":140,"wires":[["c8481942595c38db"]]},{"id":"d4a2db6fe2881a78","type":"inject","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":540,"wires":[["b5c30a1fd27d53e3"]]},{"id":"50ebfe351138d2a0","type":"inject","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":600,"wires":[["89758d3356fb6ffa"]]},{"id":"a36d9f42db573037","type":"inject","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":660,"wires":[["98d3a4e55ee2196c"]]},{"id":"b5c30a1fd27d53e3","type":"link call","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"Using the link \"Getting data\". See below","links":["64feed2fa56dcf63"],"linkType":"static","timeout":"30","x":400,"y":540,"wires":[["9607172243554002"]]},{"id":"69aae63260ff97a5","type":"change","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"Get data from FLOW context and set msg.payload ","rules":[{"t":"set","p":"payload","pt":"msg","to":"myTempData","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":240,"wires":[["c07a45cbbbdb62bb"]]},{"id":"c09c41279fe74862","type":"change","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"Delete data from FLOW context variable","rules":[{"t":"delete","p":"myTempData","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":340,"wires":[[]]},{"id":"9607172243554002","type":"change","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"Save payload to GLOBAL context","rules":[{"t":"set","p":"myTempDataGlobal","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":540,"wires":[[]]},{"id":"89758d3356fb6ffa","type":"change","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"Get data from GLOBAL context and set msg.payload ","rules":[{"t":"set","p":"payload","pt":"msg","to":"myTempDataGlobal","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":600,"wires":[["55bea6d504757dd2"]]},{"id":"98d3a4e55ee2196c","type":"change","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"Delete data from GLOBAL context variable","rules":[{"t":"delete","p":"myTempDataGlobal","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":660,"wires":[[]]},{"id":"0920f82915a3868a","type":"comment","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"- When to use flow context?","info":"","x":180,"y":80,"wires":[]},{"id":"bacf7bfcddd49f32","type":"comment","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"- When you need to retain and share data between nodes within one flow (tab)","info":"","x":590,"y":80,"wires":[]},{"id":"8d1f271155bddc83","type":"comment","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"- When to use global context?","info":"","x":180,"y":480,"wires":[]},{"id":"e3f113aeb7e58aa5","type":"comment","z":"ae72277bbd8d995d","g":"0b7db66b7b63fe69","name":"- When you need to retain and share data between different flows (tabs)","info":"","x":570,"y":480,"wires":[]},{"id":"d961c48a18401676","type":"function","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"Get data from FLOW context and set msg.payload ","func":"msg.payload = flow.get(\"myTempData\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":280,"wires":[[]]},{"id":"ee1eac41603fc41d","type":"function","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"Delete data from FLOW context variable","func":"//clear flow context variable\nflow.set(\"myTempData\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":380,"wires":[[]]},{"id":"c8481942595c38db","type":"change","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"Save payload to FLOW context","rules":[{"t":"set","p":"myTempData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":140,"wires":[[]]},{"id":"2d1205316262f37e","type":"function","z":"ae72277bbd8d995d","g":"9235a7a8801e9696","name":"Save payload to FLOW context","func":"//set flow context variable to retain data \nflow.set(\"myTempData\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":180,"wires":[[]]}]