Flows/all_live_objects_nodes/flows.json
[{"id":"0bd2084b9ce2ad3f","type":"tab","label":"All LO Nodes","disabled":false,"info":"","env":[]},{"id":"618e29e9b25e9e87","type":"group","z":"0bd2084b9ce2ad3f","name":"Send data to LiveObjects","style":{"label":true,"stroke":"#32c832","color":"#000000","fill":"#32c832","fill-opacity":"0.35"},"nodes":["0dbda4a19424f2b4","c5611056909ae8c2","ceda76dd5615ea3e","ccd16ea8bf308a81","57e8102bf4f83ce9","9a1b13233bab79b6","d81a7e41d3d43f05","95f8a70d44fd5936","61183f9fdf47c7e7","333b32af7392f8c5","81421eead9579f77","37ad91db5ca008ad"],"x":54,"y":39,"w":1112,"h":362},{"id":"2f249e2a35e5dbc1","type":"group","z":"0bd2084b9ce2ad3f","name":"Enrich","style":{"fill":"#ff7900","fill-opacity":"0.34","label":true,"color":"#000000"},"nodes":["5060b77688121995","4d75332f9c402ffb","647495b2ec513789","a25439f403ccdd39","790c79b1f49cd2f5","6455952d576f71b8","b2eb2a391d60f9a0","ade80423f6da3c3c","398b59c35cf456c6","0ea3c6961f78808b"],"x":54,"y":439,"w":972,"h":302},{"id":"a2844b00c48acec5","type":"group","z":"0bd2084b9ce2ad3f","name":"Receive","style":{"fill":"#a885d8","fill-opacity":"0.35","label":true,"color":"#000000"},"nodes":["d12f936b7d72223e","9f9b3d14b536b1cd","7e19debd606e8366","c3183fd69cbeeee1","c340f4696374fe0f","62ee2c733893da91","19f8f21de9a0e2c6","5785ece34cb1f761","18f40752d9fce879","afb017d398b33e0d"],"x":54,"y":779,"w":812,"h":422},{"id":"0dbda4a19424f2b4","type":"external-connector-out","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"LO external connector out","externalid":"my-sensor","x":800,"y":120,"wires":[]},{"id":"c5611056909ae8c2","type":"inject","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["ceda76dd5615ea3e"]]},{"id":"ceda76dd5615ea3e","type":"function","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"Build a message","func":"msg.payload = {\n    value:{\n        temp: {\n            value: 13,\n            unit: \"C\"\n        },\n        time: Date.now()\n    },\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":120,"wires":[["0dbda4a19424f2b4"]]},{"id":"ccd16ea8bf308a81","type":"inject","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"trigger as Sensor A","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connector/v1/nodes/mysensor-a/data","payload":"","payloadType":"date","x":190,"y":300,"wires":[["57e8102bf4f83ce9"]]},{"id":"57e8102bf4f83ce9","type":"function","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"Build a message","func":"msg.payload = {\n    value:{\n        temp: {\n            value: 13,\n            unit: \"C\"\n        },\n        time: Date.now()\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":300,"wires":[["9a1b13233bab79b6"]]},{"id":"9a1b13233bab79b6","type":"external-connector-out-multiple","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"LO external connector out multiple","x":820,"y":300,"wires":[]},{"id":"d81a7e41d3d43f05","type":"inject","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"trigger as Sensor B","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connector/v1/nodes/mysensor-b/data","payload":"","payloadType":"date","x":190,"y":360,"wires":[["57e8102bf4f83ce9"]]},{"id":"95f8a70d44fd5936","type":"comment","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"Set the external ID in the topic","info":"","x":200,"y":260,"wires":[]},{"id":"61183f9fdf47c7e7","type":"comment","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"Set the LiveObjects API key with the External Connector profile","info":"","x":910,"y":80,"wires":[]},{"id":"5060b77688121995","type":"custom pipeline in","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"LO custom pipeline in","endpoint":"/pipeline-test","x":180,"y":640,"wires":[["647495b2ec513789","790c79b1f49cd2f5"]]},{"id":"4d75332f9c402ffb","type":"custom pipeline out","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"LO custom pipeline out","x":830,"y":640,"wires":[]},{"id":"647495b2ec513789","type":"function","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"Enriching Function","func":"//enriched payload must meet the LO data format requirements\nlet enriched = {\n    value: {},\n    tags: []\n};\n\n//convert temperature from Celcius to Fahrenheit\nenriched.value.temp = {\n    value: msg.payload.value.temp.value * 1.8 + 32,\n    unit: \"F\"\n};\n\n//convert timestamp to valid date-time format\nenriched.value.datetime = new Date(msg.payload.value.time);\n\n//add tag indicationg the data has been enriched\nenriched.tags.push(\"ENRICHED_BY_NODERED\");\n\n//set as new payload\nmsg.payload = enriched;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":640,"wires":[["4d75332f9c402ffb","a25439f403ccdd39"]]},{"id":"a25439f403ccdd39","type":"debug","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"Debug After","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":700,"wires":[]},{"id":"790c79b1f49cd2f5","type":"debug","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"Debug Before","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":700,"wires":[]},{"id":"6455952d576f71b8","type":"comment","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"Assuming data containing \"temp\" in Celcius deg. and unix timestamp in miliseconds","info":"","x":370,"y":480,"wires":[]},{"id":"b2eb2a391d60f9a0","type":"comment","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"This flow will convert Celcius to Fahrenheit and change time format to date-time","info":"","x":360,"y":520,"wires":[]},{"id":"ade80423f6da3c3c","type":"comment","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"1. Configure Custom Pipeline in Live Objects and set the /endpoint","info":"","x":320,"y":600,"wires":[]},{"id":"398b59c35cf456c6","type":"comment","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"Sends msg.payload to LiveObjects","info":"","x":860,"y":560,"wires":[]},{"id":"0ea3c6961f78808b","type":"comment","z":"0bd2084b9ce2ad3f","g":"2f249e2a35e5dbc1","name":"Enriched data will be stored in LO","info":"","x":860,"y":600,"wires":[]},{"id":"d12f936b7d72223e","type":"fifo-in","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"LO FIFO in","fifoname":"node-red-lo-nodes","x":140,"y":940,"wires":[["9f9b3d14b536b1cd"]]},{"id":"9f9b3d14b536b1cd","type":"debug","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"Debug Received from FIFO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":940,"wires":[]},{"id":"7e19debd606e8366","type":"http-push-in","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"LO http push in","endpoint":"http-push-test","x":160,"y":1100,"wires":[["c340f4696374fe0f","c3183fd69cbeeee1"]]},{"id":"c3183fd69cbeeee1","type":"http-push-out","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"LO http push out","x":750,"y":1100,"wires":[]},{"id":"c340f4696374fe0f","type":"debug","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"Debug Received from HTTP Push","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":1160,"wires":[]},{"id":"62ee2c733893da91","type":"comment","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"1. Set the LiveObjects API key with the Application profile","info":"","x":290,"y":860,"wires":[]},{"id":"333b32af7392f8c5","type":"comment","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"Dynamic externalID","info":"","x":170,"y":220,"wires":[]},{"id":"81421eead9579f77","type":"comment","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"Static externalID","info":"","x":160,"y":80,"wires":[]},{"id":"19f8f21de9a0e2c6","type":"comment","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"FIFO queue","info":"","x":150,"y":820,"wires":[]},{"id":"5785ece34cb1f761","type":"comment","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"HTTP Push","info":"","x":150,"y":1020,"wires":[]},{"id":"18f40752d9fce879","type":"comment","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"1. Configure Routing in Live Objects and set the /endpoint","info":"","x":290,"y":1060,"wires":[]},{"id":"afb017d398b33e0d","type":"comment","z":"0bd2084b9ce2ad3f","g":"a2844b00c48acec5","name":"2. Configure FIFO queue in Live Objects and set the FIFO name","info":"","x":310,"y":900,"wires":[]},{"id":"37ad91db5ca008ad","type":"comment","z":"0bd2084b9ce2ad3f","g":"618e29e9b25e9e87","name":"Disconnected is a normal idle status of this node","info":"","x":860,"y":260,"wires":[]}]