Flows/custom_pipeline_enrichment_simple/custom_pipeline_enrichment_simple.json
[{"id":"7992edc44f027cda","type":"tab","label":"DATA ENRICHMENT","disabled":false,"info":""},{"id":"226cf71595a82684","type":"custom pipeline in","z":"7992edc44f027cda","name":"LO custom pipeline in","endpoint":"/test","x":220,"y":300,"wires":[["a920a27905ca773b","e83066b8e5bb1bc2"]]},{"id":"d7e474142a74d336","type":"custom pipeline out","z":"7992edc44f027cda","name":"LO custom pipeline out","x":780,"y":300,"wires":[]},{"id":"a920a27905ca773b","type":"function","z":"7992edc44f027cda","name":"Enriching Function","func":"//enriched payload must meet the LO data format requirements\nlet enriched = {};\nenriched.value = {};\nenriched.tags = [];\n\n//convert temperature from Celcius to Fahrenheit\nenriched.value.temp_F = msg.payload.value.temp * 1.8 + 32;\n\n//convert timestamp to valid date-time format\nenriched.value.datetime = new Date(msg.payload.value.time);\n\n//add tag indicationg the data has been enriched\nenriched.tags.push(\"ENRICHED\");\n\n//set as new payload\nmsg.payload = enriched;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":300,"wires":[["d7e474142a74d336","fcdc117edba30e87"]]},{"id":"fcdc117edba30e87","type":"debug","z":"7992edc44f027cda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"e83066b8e5bb1bc2","type":"debug","z":"7992edc44f027cda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"cd463f44a705a527","type":"comment","z":"7992edc44f027cda","name":"Assuming data containing \"temp\" in Celcius deg., \"humidity\" and unix timestamp in seconds","info":"","x":430,"y":100,"wires":[]},{"id":"277eca3424daac7f","type":"comment","z":"7992edc44f027cda","name":"This flow will convert Celcius to Fahrenheit and change time format to date-time","info":"","x":400,"y":140,"wires":[]},{"id":"c07fe855ef8aad89","type":"comment","z":"7992edc44f027cda","name":"Specify /endpoint","info":"","x":200,"y":260,"wires":[]},{"id":"14ae25aa404272ee","type":"comment","z":"7992edc44f027cda","name":"Response with msg.payload","info":"","x":800,"y":260,"wires":[]},{"id":"50ecd750e090583d","type":"comment","z":"7992edc44f027cda","name":"DATA ENRICHMENT EXAMPLE","info":"","x":250,"y":60,"wires":[]},{"id":"7c7db13dba0da412","type":"comment","z":"7992edc44f027cda","name":"Enriched data will be stored in LO","info":"","x":810,"y":340,"wires":[]}]