Flows/function_module/flows.json
[{"id":"9bd50ff1127d4e50","type":"tab","label":"FUNCTION MODULE","disabled":false,"info":"","env":[]},{"id":"caba07d32ac27650","type":"inject","z":"9bd50ff1127d4e50","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["59a7f4c718898832"]]},{"id":"9629d10a64123110","type":"debug","z":"9bd50ff1127d4e50","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":160,"wires":[]},{"id":"59a7f4c718898832","type":"function","z":"9bd50ff1127d4e50","name":"Function that use \"cowsay\" npm module","func":"// No need to use \"import\" nor \"require\"\n// Make sure the module you need is added in the \"Setup\" tab above\n\nmsg.payload = cowsay.say({\n    text: \"I'm a moooodule\",\n    e: \"oO\",\n    T: \"U \"\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cowsay","module":"cowsay"}],"x":420,"y":160,"wires":[["9629d10a64123110"]]},{"id":"1fd44820768ddeea","type":"comment","z":"9bd50ff1127d4e50","name":"To use function modules, just add them to the Function node > \"Setup\" tab","info":"","x":530,"y":100,"wires":[]}]