Flows/fifo_in_simple/flows.json
[{"id":"998eede5437ef79c","type":"tab","label":"FIFO IN EXAMPLE","disabled":false,"info":""},{"id":"540ef826571c7c8c","type":"fifo-in","z":"998eede5437ef79c","name":"LO FIFO in","apikey":"","fifoname":"<SAME AS IN LO>","x":140,"y":220,"wires":[["c5fa1bc89864890c","c70ca527161a9e37"]]},{"id":"95147be0d59f31b3","type":"comment","z":"998eede5437ef79c","name":"Specify API key and Live Objects FIFO name","info":"","x":250,"y":140,"wires":[]},{"id":"c5fa1bc89864890c","type":"debug","z":"998eede5437ef79c","name":"Print raw message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":300,"wires":[]},{"id":"c70ca527161a9e37","type":"json","z":"998eede5437ef79c","name":"Convert string to JSON","property":"payload","action":"","pretty":false,"x":490,"y":220,"wires":[["f33d21bac0af4c55","34fe93c492152825"]]},{"id":"f33d21bac0af4c55","type":"debug","z":"998eede5437ef79c","name":"Print parsed payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":300,"wires":[]},{"id":"34fe93c492152825","type":"function","z":"998eede5437ef79c","name":"Process parsed payload","func":"if(msg.payload.value){\n    //Do something\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":220,"wires":[[]]},{"id":"09f036c066c1074f","type":"comment","z":"998eede5437ef79c","name":"Double click on the node see instructions","info":"","x":240,"y":180,"wires":[]},{"id":"fad9112ddf315de3","type":"comment","z":"998eede5437ef79c","name":"LO FIFO in node receives all the buffered data stored by LO","info":"","x":300,"y":100,"wires":[]}]